<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Laurel's Yoga Site" src="{{ "/assets/img/laurelyoga.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5>laurelyoga.com</h5>
      <p>Laurel needed a robust online promotion, scheduling, and marketplace solution. The theme Laurel had selected required some custom CSS and JavaScript to get things looking the way she wanted. And several plugins needed specific configurations. We did development in stages, using separate production and test environments to handle code pulls and site upgrades.</p>
      <p>Skills: Wordpress, CSS, JavaScript</p>
      <a class="project-link" href="http://laurelyoga.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
